<h1>About Us</h1>

<div id="about">

    <h2>Our Goal</h2>

        <p>Is to help people planning events connect with people attending their events.</p>

    <h2>We Believe</h2>

    <ul>
            <li>Physical contact with others makes for happier people</li>
            <li>Finding ways to spend your leisure time should also be leisurely</li>
            <li>Making new friends is as important as nurturing old friends</li>
    </ul>

    <h2>The Team</h2>

    <div class="team_member">
        <img src="${DOCUMENT_ROOT}images/andy_140.jpg">
        <h3>Andrew Wall</h3>
        <p>Engineer</p>
    </div>



</div>
