<div id="search">
	<form method="GET" action="/events">
		<div id="search_field_container">
			<input name="city" id="search_input" type="text" placeholder="City, ST" autocomplete="off" required>
			<div id="city_search_matches">
			</div>
		</div>
		<input type="submit" value="Find">
		<br /><br />
		<input type="checkbox"> Music
		<br />
		<input type="checkbox"> Theater
		<br />
		<input type="checkbox"> Food
		<br />
		<input type="checkbox"> Social
		<br />
		<input type="checkbox"> Sports
		<br />
		<input type="checkbox"> Government
		<br />
		<input type="checkbox"> Educational
		<br />
		<input type="checkbox"> Business
		<br />
		<input type="checkbox"> Miscellaneous
	</form>
</div>
