<h1>Terms of Service</h1>

<div id="terms_content">
	<p><strong>Last udpated on January 29, 2015.</strong> These terms and conditions are effective immediately for all accounts on ${site_name}</p>

	<p>You agree to any changes in the Terms indicated here by your continued use or access to this site.</p>

	<p>Our intent is to make any event you provide to us public.</p>

	<p>We may ban or delete your account for any reason at any time.</p>

	<p>We may ban, remove or edit your events at any time for any reason.</p>

	<p>We appreciate feedback. Any feedback provided to us must be legally provided and free for us to use.</p>

	<p>We're not making any money from this site but if we ever do we will hire a lawyer to help us out. Until then, you may not sue us; we're poor.</p>
</div>
