<h1>Login with your ${site_name} Account</h1>

<div id="error_message" class="${error_class}">${error_message}</div>
<br />

<div id="login_form">
	<form method="POST" action="/user/login">
		<input type="email" name="email" placeholder="Email" value="${email}" required>
		<input type="password" name="password" placeholder="Password" required>
		<input type="hidden" name="page" value="login">
		<div id="login_forgot_password">
			<a href="/user/forgot">Forgot your password?</a>
		</div>
		<div id="login_submit">
			<input type="submit" value="Login">
		</div>
	</form>
</div>
